# Rust / Cargo
/target
**/target

# Node / frontend
node_modules
dist
dist-ssr
*.local

# Tauri generated
src-tauri/gen

# Editor / OS
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
*.log

# Env
.env
.env.*
